apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUMvakNDQWVhZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBREFWTVJNd0VRWURWUVFERXdwcmRXSmwKY2
01bGRHVnpNQjRYRFRJeU1EY3hNVEE0TkRVME9Wb1hEVE15TURjd09EQTRORFUwT1Zvd0ZURVRNQkVHQTFVRQpBeE1LYTNWaVpYSnVaWFJsY3pDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBRENDQVFv
Q2dnRUJBTzBWCkhCYVNrdWRFL0FUTGJqZzZqMGxtUXB5K0tIcW5xdytsWXE0WjdUaGdQMlhwSTB2MW1ONWxVaEF1Ynp2YTN4R20KaUQyd0FUNG9KZFJCRmhqK3RaV2FLNWxCVStFbE5SQVcraG9vMndIZTFsbm
krajloWFpHbVJkUFlrSnFBTGZOcAp0TXdZcXpTMFlmS2lSZFJMejF6NElKN2VRMUtrbThweE4yL1MyVlhWbmE5aklTdEowRnZzdDNZbVA5QXVjV2QyCnlWZmNkY0hqYVQ5M2hvVmZPaGxnR0tIMlgvcmIrcWwv
bDFVSlFCZUJOL2w3YlhvZVZtRDJCTUNBYmJOdGgzcTUKYy96L2xtWXZGM2syOE9lL3hlbzZnalhDUnl1N1pyeDlCak5rcnk0a2JXUXQ0SEhxdm9YcnBVbGRzaHpuTkw5NQpNRXY0YUxVU2VYQXExbkhmR3cwQ0
F3RUFBYU5aTUZjd0RnWURWUjBQQVFIL0JBUURBZ0trTUE4R0ExVWRFd0VCCi93UUZNQU1CQWY4d0hRWURWUjBPQkJZRUZHWnNLZjhrY1cyWW1WbGdpODNQYUZHMUkvbG9NQlVHQTFVZEVRUU8KTUF5Q0NtdDFZ
bVZ5Ym1WMFpYTXdEUVlKS29aSWh2Y05BUUVMQlFBRGdnRUJBRUZvcWtPV2hXb2N2VUxtK0RVbwpRa3ZzTXpBREI1cHRSL0FNbXlRUXVUamthRjRJb2kvMzNLdkM4VUx6TEUzV0JkV1crSHNsbFhhSWlKdnI0NV
NJClNFb3p1cU9qWHVJczZKNmRiT3ZiS0tuK0dCUHVFZXc0a1FMYVdkL29aZktvREM5SUFONzIyR3hBNEtLaFVENHoKSjcxbmZWZjRNcUJaeHU4VWtMWDdJSDRBVmtpV2dwWlByaVNOSkxJQ3RLVUJuYlRFcE1x
VGV2OWpFRmpRTzF4LwowbDdkeTBLa3lzM0owWWk0ZjkxSTRGTFJIU0RDbGVadnQ1WEdyMlVjc1BSQ05TUGVuUGVHYVozQkRFc1VKWUYzCkNZZ3JsWXRJcTRHYkY0Z0UyQU9ySCtXbFpYSWhwNHZSS2VicEF3cV
hVUC9BZWdta0NNN0xFc3JoNUNWY2QzRFQKWnhFPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    server: https://172.31.13.25:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURJVENDQWdtZ0F3SUJBZ0lJWnRrVzRQLzN4and3RFFZSktvWklodmNOQVFFTEJRQXdGVEVUTUJFR0ExVUUKQXhNS
2EzVmlaWEp1WlhSbGN6QWVGdzB5TWpBM01URXdPRFExTkRsYUZ3MHlNekEzTVRFd09EUTFOVEZhTURReApGekFWQmdOVkJBb1REbk41YzNSbGJUcHRZWE4wWlhKek1Sa3dGd1lEVlFRREV4QnJkV0psY201bGR
HVnpMV0ZrCmJXbHVNSUlCSWpBTkJna3Foa2lHOXcwQkFRRUZBQU9DQVE4QU1JSUJDZ0tDQVFFQXZrUC92cXFUMDJKVHhIblUKT0tNbFB4bzBDUmNPUUFvMVYzQ0cwN2ZTdmo5UUZ4ekFXckl6V0xFdE1jNUR2Y
1dWQjJ4d2JDV1c0cVAydHUvVwp2eUV6SGhtREc3bzhYRlNicUh4TFNaSGhXdEM0Uklya3dXZkljekJTWVBCVGVGQUlpQXpELzJ0ekVmQ0lLOUJMCk1tVU5kbFZnMW9qcytaY01yTVNDNXloc3BqVms0am94Qk0
wNEI0RnRKMGZhdFg0MURMb2dOVDNDa3dDODh3RjIKbEFlV0tUNXNVQndZZk0zZ21GbUl1YUhzN3AyTHFPalFEVWJOYXRaMXdHWHVDRTR3Ulg2OGJKZ21jb0FHS2ZBRgpsb2VIV3JvWjlUd2hzb1RscHgwVVVZd
DFDZm0xdG9KcU8vUjBRRldhc0EyOS83Wm5vZHViRnlEeDZxeXNPK2pyClV0aFBmUUlEQVFBQm8xWXdWREFPQmdOVkhROEJBZjhFQkFNQ0JhQXdFd1lEVlIwbEJBd3dDZ1lJS3dZQkJRVUgKQXdJd0RBWURWUjB
UQVFIL0JBSXdBREFmQmdOVkhTTUVHREFXZ0JSbWJDbi9KSEZ0bUpsWllJdk56MmhSdFNQNQphREFOQmdrcWhraUc5dzBCQVFzRkFBT0NBUUVBZ1dKYjJNbUo4dUpCcmxNSnVqTDVSb0JnYm9hVG5obkVaSGNnC
nN0RXdNeUY4TjhwS04xcHZCUDFKUURDZ25VTWtWd0Z4QlcydEwxUHVQQjJsbW9QU3B0Nmdrc1Y5UzBBVXJib0QKaTYwN0RROVVjWkkxNElxaXFXTkNsS1V0T1RsV0hPbGU5NG94TmMrOCtSa2xOVnNHbVVqNGd
RbUt2aDl5Z0VRawo4WWx5OXRsWnVKU016aCttYThKc2ttM2dqTWduTy8vQTgvQzR2aFgxUUlJNkdBWE5vcnE0alpiQ1VqckIvSEpVCmtlMUJKazE1NUZPM0tzL3ZLTkJvSnk2dHFmNEtxWk5tU3FGK2lQR0RBb
nZlNzBnZmRvL2ZmRU12SmxmWlJ2SmsKZUp5OU9hekRua2JBRXgrdEdidWtsVngxSFBsVlBNai84TkxFTmJLdzZ0WkFpY0VuMXc9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    client-key-data: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFb3dJQkFBS0NBUUVBdmtQL3ZxcVQwMkpUeEhuVU9LTWxQeG8wQ1JjT1FBbzFWM0NHMDdmU3ZqOVFGeHpBCldySXpXT
EV0TWM1RHZjV1ZCMnh3YkNXVzRxUDJ0dS9XdnlFekhobURHN284WEZTYnFIeExTWkhoV3RDNFJJcmsKd1dmSWN6QlNZUEJUZUZBSWlBekQvMnR6RWZDSUs5QkxNbVVOZGxWZzFvanMrWmNNck1TQzV5aHNwalZ
rNGpveApCTTA0QjRGdEowZmF0WDQxRExvZ05UM0Nrd0M4OHdGMmxBZVdLVDVzVUJ3WWZNM2dtRm1JdWFIczdwMkxxT2pRCkRVYk5hdFoxd0dYdUNFNHdSWDY4YkpnbWNvQUdLZkFGbG9lSFdyb1o5VHdoc29Ub
HB4MFVVWXQxQ2ZtMXRvSnEKTy9SMFFGV2FzQTI5Lzdabm9kdWJGeUR4NnF5c08ranJVdGhQZlFJREFRQUJBb0lCQUN5WlA5OXZtSXNhSjB5TQp5aVFraWR5S3hkdkRuY0dCSXhQRityU3lDQ0kwTVEvWjIzVG5
CSVlyc2M1VTdTZ1VvbVJGRk8wa3VvT1JyNGtlCkd4WmVMOTlFVjZrdU5Hdm9JVHlUTmdxZXVWWlNTbjgybDN5R1dVUTI5WGhublFrOHFXTktxcjY2YnhTcmJ4L20KQ1ZwY3VaVWRXait2aE96VWJWSXFGZzBkT
3FxU3ZmL3AvY0lWODhGb1dUSkcxYm5uY0M5WVkzeWFranFlSWJVbQpNZzAyTG5ob0ErTUM0NVBXc1hXaWFnVGdvWTRzTDM4MlYycy90L1pWaCtZVWV1RXhpeDJHZjVVeXlDY1dGVHB2CmlXMk5jZ0lPZXNSZC9
haEcxSXg2bUhkaVgrODdCYzJIS05TM3cwUFhieEFVb1h0TmFhSWI1NHpoK3N5Q2NyaVYKZnJqMlFBRUNnWUVBNFdIRXByZkREYnVsTFFhYU4zVE1iZWFsRS8yMU5CZjV3T3VtdkdOL0o2dkhXRHcvSHFuagpRT
HUzZ2kwMVNDNmc4RlFiZkl1Myt5TWU0Z1FlNGhMZU1PYjJaVGh2MDZLK0hHWmxmTnllaDVnc0hFUStYTExwCkhZbE1ZMC9SUTAyeno0c0xQbDZGU1BhNndaZjhIR0FyMERQamRWNGhsWU1SL2RoZHRNL2VHQUV
DZ1lFQTJCejQKNVRBVTVsbGo0N0lvcDZ4VDQzK3BOdTJiMXhXcTlTekkwNGVORWROaEU0K0FOaU1paDJTVmYrbEVwRHlUS01vZgpjRFdNZ0dQU1p5NWJPbVEzVEwzTEZJUjViSG9ob1BiMGZUNHRxZ05GZkpnV
TkxSWZlL0FhSWY0TUQ4ZWZUYmE3Ck9TSElPWFY4emJRZXpiZjA1VG8zay83RFRyTEdEaGV1OUFNK2wzMENnWUVBcmdpK3Z6WDZ5aW54ZS9rek1FdGkKYUNMSHFjNHBGQmJIWm04UkN6dVJQbUxveFh1UUNlK0p
hYjBLRU4wejNZOFQrMEFYRVc4YUhEU2NiazVjUXBucgpOTHZEMjVsZTBIOUVhYzJ2NUdDL2tWaXlCd216VmdWWStOUENScFdsczJEV3poWkNFbUVPYnE4R3V1TFBiR0hlCnN5QytMUzBJcGRqV0ZidnpiK0ZyV
UFFQ2dZQUwrVGIxQTcvMHJ6a3drVnRkUnRmeS84eXhSV0xmL014Vy94ODEKVVFwSTFZeElXQ2dEVjlqKzVWeS9GSDZBRnZjVVNIYUxjZndSMVBZQVQzb3dkd0wxVm9LYzVXWVEwNGR2Y3A5RApIU0hNakpmWit
sY1hDTTdEd0I3Q2lWL0R0QXlvY3BwVzVQOUI1N2Q5Y2lCT3g0VmkrZUhBYWxvSnp5L1g4Z240CmJRR1h4UUtCZ0NOSWhlTDlJL0F6SUNZR1JwaTRsU3ovYWlNTW1iNjFMaVZodmRVeThOdGZBb1dIK3FicGJTa
W8KREsySlZGZE9mOWdRQ0tBdVFIdEZQWXZ6WEhPRGZNalNHQWlHNTZBdTZnRmlEU3ByU3llaU1QVjJ2ZEd1YnpUeQphOXVjTFRFWHErb0I3T2FMR3J4MzZ3dWh2QWpoQ0g4UHpTWVVXd1dDenR5LzNwUGkwak5
XCi0tLS0tRU5EIFJTQSBQUklWQVRFIEtFWS0tLS0tCg==